SelfRegistrationApprovalApp/SelfRegistrationApproval/xsd/ApprovalTaskPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.oracle.com/request/RequestDetails" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xmlns.oracle.com/request/RequestDetails" schemaLocation="RequestDetails.xsd"/>
   <complexType name="ApprovalTaskPayloadType">
      <sequence>
         <element name="RequestID" type="xsd:string"/>
         <element name="RequestModel" type="xsd:string"/>
         <element name="RequestTarget" type="xsd:string"/>
         <element name="url" type="xsd:string"/>
         <element ref="ns0:RequesterDetails"/>
         <element ref="ns0:BeneficiaryDetails"/>
         <element ref="ns0:ObjectDetails"/>
         <element ref="ns0:OtherDetails"/>
         <element name="RequesterDisplayName" type="xsd:string"/>
         <element name="BeneficiaryDisplayName" type="xsd:string"/>
         <element name="Requester" type="xsd:string"/>
         <element name="OrganizationAdmin" type="xsd:string"/>
         <element name="Organization" type="xsd:string"/>
         <element name="grp_id" type="xsd:string"/>
         <element name="BaseWebsiteUrl" type="xsd:string"/>
         <element name="DefaultRequestApproverUser" type="xsd:string"/>
      </sequence>
   </complexType>
</schema>
