SelfRegistrationApprovalApp/SelfRegistrationApproval/xsd/BusinessRule.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://oracle.businessrule"
            targetNamespace="http://oracle.businessrule"
            elementFormDefault="qualified">
  <xsd:complexType name="stage">
    <xsd:sequence>
      <xsd:element name="stageType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="StageOutput" type="stage"/>
</xsd:schema>
