SelfRegistrationApprovalApp/SelfRegistrationApproval/xsd/GeneralRequestData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/RequestServiceApp/RequestDataService/GeneralData" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.oracle.com/RequestServiceApp/RequestDataService/GeneralData" 
	 xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
     xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="1.0" jaxb:extensionBindingPrefixes="xjc">
    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="oracle.iam.requestdataws.webservicestubs.types"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
		 


	<xs:complexType name="MultiValueType">
 		<xs:sequence>
          	<xs:element name="Value" type="xs:string" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    
     <xs:complexType name="CustomAttributeType">
 		<xs:sequence>
          	<xs:element name="Value" type="xs:string" maxOccurs="unbounded" nillable="true"/>
        </xs:sequence>
        <xs:attribute name="Name" type="xs:string"/>
    </xs:complexType>
    

	<xs:complexType name="MapValueType">
 		<xs:sequence>
 			<xs:element name="Key" maxOccurs="unbounded" nillable="true">
	 			<xs:complexType>
	        		<xs:attribute name="Name" type="xs:string"/>
	        		<xs:attribute name="Value" type="xs:string"/>
	    		</xs:complexType>
    		</xs:element>
    	</xs:sequence>	
    </xs:complexType>	
    	
</xs:schema>