SelfRegistrationApprovalApp/SelfRegistrationApproval/xsd/ResourceData.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/RequestServiceApp/RequestDataService/ResourceData"
     xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.oracle.com/RequestServiceApp/RequestDataService/ResourceData"
     xmlns:general="http://xmlns.oracle.com/RequestServiceApp/RequestDataService/GeneralData" 
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
     xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" jaxb:version="1.0" jaxb:extensionBindingPrefixes="xjc">
    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="oracle.iam.requestdataws.webservicestubs.types"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    
    <xs:import namespace="http://xmlns.oracle.com/RequestServiceApp/RequestDataService/GeneralData" schemaLocation="GeneralRequestData.xsd" /> 
     
    <xs:element name="ResourceKey" type="xs:string"/>
    <xs:element name="ResourceData" type="ResourceDataType"/>
    
    
    <xs:complexType name="ResourceDataType">
        <xs:sequence>
             <xs:element name="Resourcekey" type="xs:string" nillable="true"/>
             <xs:element name="ResourceName" type="xs:string" nillable="true"/>
             <xs:element name="ResourceType" type="xs:string" nillable="true"/>
           	 <xs:element name="Reconsequence" type="xs:string" nillable="true"/>
           	 <xs:element name="OrderFor" type="xs:string" nillable="true"/>
           	 <xs:element name="CustomAttribute" type="general:CustomAttributeType" maxOccurs="unbounded" nillable="true" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>

